@use "../../styles" as *;

.projects-page {
  background: var(--color-bg-body);

  &__header {
    max-width: 1350px;
    margin: 0 auto 60px;
    padding: 0 40px;

    h1 {
      font-family: var(--font-serif);
      font-size: 48px;
    }
  }
}
