/*
	Contents:
	5. Projects Grid
	6. Index Page
	7. Project Page
	9. Blog Page
	10. Blog Single
	11. Contact Page
	12. Responsive
*/


/*
	5. Projects Grid
*/

#projects-grid {
    overflow: hidden;
}

#projects-grid .gutter {
    width: 2.35%;
}

#projects-grid .projects-item {
    display: block;
    position: relative;
    overflow: hidden;
    border: none;
    width: 31.75%;
    margin-bottom: 2.35%;
    padding-bottom: 0;
    z-index: 3;
}

#projects-grid .projects-item .picture {
    position: relative;
}

#projects-grid .projects-item .picture .content {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    z-index: 2;
}

#projects-grid .projects-item .picture .content .text {
    padding: 20px;
    text-align: center;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
    -webkit-transition: opacity 100ms, -webkit-transform 250ms;
            transition: opacity 100ms, -webkit-transform 250ms;
            transition: transform 250ms, opacity 100ms;
            transition: transform 250ms, opacity 100ms, -webkit-transform 250ms;
}

#projects-grid .projects-item .picture .content .text h2 {
    color: #fff;
    margin: 0 0 5px;
    padding: 0;
    font-size: 19px;
    line-height: 1.5;
}

#projects-grid .projects-item .picture .content .text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#projects-grid .projects-item .picture .content .text ul li {
    display: inline;
    color: rgba(255, 255, 255, 0.8);
    font-size: 11px;
    font-weight: 400;
}

#projects-grid .projects-item .picture .content .text ul li:after {
    content: '—';
    margin-left: 3px;
}

#projects-grid .projects-item .picture .content .text ul li:last-child:after {
    content: '';
    margin: 0;
}

#projects-grid .projects-item .picture img {
    width: 100%;
}

#projects-grid .projects-item .picture:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity 250ms;
            transition: opacity 250ms;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#projects-grid .projects-item:hover .picture .content .text {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

#projects-grid .projects-item:hover .picture:before {
    opacity: 1;
}

#projects-grid.columns-2 .projects-item {
    width: 48.825%;
}

#projects-grid.columns-4 .projects-item {
    width: 23.2375%;
}

/*
	6. Index Page
*/

#index-page #main .load-more {
    margin-top: 30px;
    text-align: center;
}

/*
	7. Project Page
*/

#project-page #main .title-image img {
    width: 100%;
}

#project-page #main .gallery a {
    display: block;
    margin-bottom: 20px;
    border-bottom: none;
}

#project-page #main .gallery a img {
    width: 100%;
}

#project-page #main .description {
    margin: 50px 0 30px;
}

#project-page #main .description h1 {
    margin: 0;
}

#project-page #main .description p {
    font-size: 15px;
    margin: 10px 0 20px;
}

#project-page #main .description .categories {
    list-style: none;
    margin: -5px 0 35px;
    padding: 0;
}

#project-page #main .description .categories li {
    display: inline;
    color: #bfbfbf;
    font-size: 13px;
    font-weight: 300;
    margin-right: 3px;
}

#project-page #main .description .categories li:after {
    content: '—';
    margin-left: 5px;
}

#project-page #main .description .categories li:last-child {
    margin-right: 0;
}

#project-page #main .description .categories li:last-child:after {
    content: '';
    margin-left: 0;
}

#project-page #main .description .subtitle {
    margin: 50px 0 0;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 400;
    color: #0e0e0e;
    font-family: Roboto;
}

#project-page #main .details {
    margin: 50px 0 30px;
    padding: 15px 30px;
}

#project-page #main .details ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#project-page #main .details ul li {
    color: #bfbfbf;
    margin: 10px 0;
    padding: 5px 0;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 400;
}

#project-page #main .details ul li:first-child {
    margin-top: 0;
    padding-top: 0;
}

#project-page #main .details ul li:last-child {
    margin-bottom: 0;
}

#project-page #main .details ul li span {
    display: block;
    color: #6d6d6d;
    margin-top: 2px;
    text-transform: none;
    font-size: 13px;
    font-weight: 400;
}

#project-page #main .project-image {
    position: relative;
    margin-top: 30px;
}

#project-page #main .project-image .caption {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    font-size: 13px;
    padding: 4px 12px;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
    -webkit-transition: opacity 100ms, -webkit-transform 250ms;
            transition: opacity 100ms, -webkit-transform 250ms;
            transition: transform 250ms, opacity 100ms;
            transition: transform 250ms, opacity 100ms, -webkit-transform 250ms;
}

#project-page #main .project-image img {
    width: 100%;
}

#project-page #main .project-image:hover .caption {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
}

#project-page #main .carousel {
    margin-top: 30px;
}

#project-page #main .carousel .item img {
    width: 100%;
}

#project-page #main .end-page {
    margin-top: 50px;
    overflow: hidden;
}

#project-page #main .end-page .projects-navigation {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 8px;
    border: none;
}

#project-page #main .end-page .projects-navigation .arrow {
    position: relative;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #bfbfbf;
    -webkit-transition: background-color 300ms, -webkit-transform 300ms;
            transition: background-color 300ms, -webkit-transform 300ms;
            transition: transform 300ms, background-color 300ms;
            transition: transform 300ms, background-color 300ms, -webkit-transform 300ms;
}

#project-page #main .end-page .projects-navigation .arrow:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -4px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transition: border-color 300ms;
            transition: border-color 300ms;
}

#project-page #main .end-page .projects-navigation .arrow.arrow-left:after {
    left: 0;
    border-right: 5px solid #bfbfbf;
}

#project-page #main .end-page .projects-navigation .arrow.arrow-right:after {
    right: 0;
    border-left: 5px solid #bfbfbf;
}

#project-page #main .end-page .projects-navigation.previous-project {
    float: left;
}

#project-page #main .end-page .projects-navigation.next-project {
    float: right;
}

#project-page #main .end-page .projects-navigation:hover .arrow {
    background-color: #48ba86;
}

#project-page #main .end-page .projects-navigation:hover .arrow.arrow-left {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
}

#project-page #main .end-page .projects-navigation:hover .arrow.arrow-left:after {
    border-right-color: #48ba86;
}

#project-page #main .end-page .projects-navigation:hover .arrow.arrow-right {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
}

#project-page #main .end-page .projects-navigation:hover .arrow.arrow-right:after {
    border-left-color: #48ba86;
}

#project-page #main .end-page .share-block {
    text-align: center;
    margin-top: 3px;
}

#project-page #main .end-page .share-block ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

#project-page #main .end-page .share-block ul li {
    display: inline-block;
}

#project-page #main .end-page .share-block ul li a {
    display: block;
    padding: 5px;
    color: #bfbfbf;
    border: none;
    font-size: 14px;
}

#project-page #main .end-page .share-block ul li a:hover {
    color: #48ba86;
}

#project-page.alternate .end-page {
    margin-top: 100px;
}

/*
	9. Blog Page
*/

#blog-page #main .articles-list {
    margin-top: 10px;
}

#blog-page #main article {
    border-bottom: 1px solid rgba(191, 191, 191, 0.2);
}

#blog-page #main article .post {
    position: relative;
    display: block;
    border: none;
    padding: 40px 0;
}

#blog-page #main article .arrow {
    position: absolute;
    display: block;
    top: 50%;
    right: 0;
    width: 35px;
    height: 1px;
    background-color: #bfbfbf;
    -webkit-transition: opacity 300ms;
            transition: opacity 300ms;
    opacity: 0;
}

#blog-page #main article .arrow:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -4px;
    right: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #bfbfbf;
    -webkit-transition: border-color 300ms;
            transition: border-color 300ms;
}

#blog-page #main article .content {
    display: inline-block;
    -webkit-transition: -webkit-transform 250ms;
            transition: -webkit-transform 250ms;
            transition: transform 250ms;
            transition: transform 250ms, -webkit-transform 250ms;
}

#blog-page #main article .content h2 {
    margin: 0;
    padding-right: 50px;
    line-height: 1.2;
    -webkit-transition: color 250ms;
            transition: color 250ms;
}

#blog-page #main article .content > ul {
    list-style: none;
    margin: 3px 0 0;
    padding: 0;
}

#blog-page #main article .content > ul > li {
    display: inline-block;
    margin-right: 20px;
}

#blog-page #main article .content > ul > li:last-child {
    margin-right: 0;
}

#blog-page #main article .content > ul > li.author {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

#blog-page #main article .content > ul > li.author:before {
    content: 'by';
    margin-right: 3px;
}

#blog-page #main article .content > ul > li.categories ul {
    padding: 0;
}

#blog-page #main article .content > ul > li.categories ul li {
    display: inline;
    color: #bfbfbf;
    font-size: 13px;
    font-weight: 300;
}

#blog-page #main article .content > ul > li.categories ul li:after {
    content: '—';
    margin-left: 5px;
}

#blog-page #main article .content > ul > li.categories ul li:last-child {
    margin-right: 0;
}

#blog-page #main article .content > ul > li.categories ul li:last-child:after {
    content: '';
    margin-left: 0;
}

#blog-page #main article .content p {
    font-size: 15px;
}

#blog-page #main article:hover .arrow {
    opacity: 1;
}

#blog-page #main article:hover .content {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
}

#blog-page #main article:hover .content h2 {
    color: rgba(14, 14, 14, 0.6);
}

#blog-page #main .end-page {
    margin-top: 50px;
    overflow: hidden;
}

#blog-page #main .end-page .pages-navigation {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 8px;
    border: none;
}

#blog-page #main .end-page .pages-navigation .arrow {
    position: relative;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #bfbfbf;
    -webkit-transition: background-color 300ms, -webkit-transform 300ms;
            transition: background-color 300ms, -webkit-transform 300ms;
            transition: transform 300ms, background-color 300ms;
            transition: transform 300ms, background-color 300ms, -webkit-transform 300ms;
}

#blog-page #main .end-page .pages-navigation .arrow:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -4px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transition: border-color 300ms;
            transition: border-color 300ms;
}

#blog-page #main .end-page .pages-navigation .arrow.arrow-left:after {
    left: 0;
    border-right: 5px solid #bfbfbf;
}

#blog-page #main .end-page .pages-navigation .arrow.arrow-right:after {
    right: 0;
    border-left: 5px solid #bfbfbf;
}

#blog-page #main .end-page .pages-navigation.previous-page {
    float: left;
}

#blog-page #main .end-page .pages-navigation.next-page {
    float: right;
}

#blog-page #main .end-page .pages-navigation:hover .arrow {
    background-color: #48ba86;
}

#blog-page #main .end-page .pages-navigation:hover .arrow.arrow-left {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
}

#blog-page #main .end-page .pages-navigation:hover .arrow.arrow-left:after {
    border-right-color: #48ba86;
}

#blog-page #main .end-page .pages-navigation:hover .arrow.arrow-right {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
}

#blog-page #main .end-page .pages-navigation:hover .arrow.arrow-right:after {
    border-left-color: #48ba86;
}

#blog-page #main .end-page .pagination {
    list-style: none;
    margin: 3px 0 0;
    padding: 0;
    text-align: center;
}

#blog-page #main .end-page .pagination li {
    display: inline-block;
}

#blog-page #main .end-page .pagination li a {
    display: block;
    border-bottom: none;
    padding: 4px 10px;
    color: #0e0e0e;
}

#blog-page #main .end-page .pagination li a:hover {
    color: #48ba86;
}

#blog-page #main .end-page .pagination li.current {
    color: #bfbfbf;
    margin: 4px 8px;
}

#blog-page.alternative #main article {
    border-bottom: none;
    margin-bottom: 70px;
}

#blog-page.alternative #main article:last-of-type {
    margin-bottom: 0;
}

#blog-page.alternative #main article .image {
    display: block;
    position: relative;
    overflow: hidden;
    border-bottom: none;
    z-index: 3;
}

#blog-page.alternative #main article .image i {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 20px;
    color: #fff;
    z-index: 2;
    opacity: 0;
    -webkit-transition: top 250ms, opacity 100ms;
            transition: top 250ms, opacity 100ms;
}

#blog-page.alternative #main article .image img {
    width: 100%;
}

#blog-page.alternative #main article .image:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity 250ms;
            transition: opacity 250ms;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

#blog-page.alternative #main article .image:hover i {
    top: 10px;
    opacity: 1;
}

#blog-page.alternative #main article .image:hover:before {
    opacity: 1;
}

#blog-page.alternative #main article .content {
    margin-top: 20px;
}

#blog-page.alternative #main article .content .title h2 {
    -webkit-transition: color 150ms;
            transition: color 150ms;
    padding-right: 0;
}

#blog-page.alternative #main article .content .title:hover h2 {
    color: #48ba86;
}

#blog-page.alternative #main article .content > ul {
    margin: 6px 0 0;
}

#blog-page.alternative #main article .content p {
    margin: 30px 0 40px;
}

#blog-page.alternative #main article .content .read-more {
    font-size: 17px;
    border-bottom: 1px solid rgba(72, 186, 134, 0.3);
}

#blog-page.alternative #main article .content .read-more:hover {
    border-color: #48ba86;
}

#blog-page.alternative #main article:hover .content {
    -webkit-transform: none;
            transform: none;
}

#blog-page.alternative #main article:hover .content h2 {
    color: #0e0e0e;
}

/*
	10. Blog Single
*/

#blog-single #main article .title-image {
    margin-bottom: 20px;
}

#blog-single #main article .title-image img {
    width: 100%;
}

#blog-single #main article .article-top h2 {
    margin: 0;
    padding-right: 50px;
    line-height: 1.2;
    -webkit-transition: color 250ms;
            transition: color 250ms;
}

#blog-single #main article .article-top > ul {
    list-style: none;
    margin: 6px 0 30px;
    padding: 0;
}

#blog-single #main article .article-top > ul > li {
    display: inline-block;
    margin-right: 20px;
}

#blog-single #main article .article-top > ul > li:last-child {
    margin-right: 0;
}

#blog-single #main article .article-top > ul > li.author {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

#blog-single #main article .article-top > ul > li.author:before {
    content: 'by';
    margin-right: 3px;
}

#blog-single #main article .article-top > ul > li.time {
    font-size: 13px;
    color: #bfbfbf;
}

#blog-single #main article .article-top > ul > li.categories ul {
    padding: 0;
}

#blog-single #main article .article-top > ul > li.categories ul li {
    display: inline;
    color: #bfbfbf;
    font-size: 13px;
    font-weight: 300;
}

#blog-single #main article .article-top > ul > li.categories ul li:after {
    content: '—';
    margin-left: 5px;
}

#blog-single #main article .article-top > ul > li.categories ul li:last-child {
    margin-right: 0;
}

#blog-single #main article .article-top > ul > li.categories ul li:last-child:after {
    content: '';
    margin-left: 0;
}

#blog-single #main .end-page {
    margin-top: 50px;
    overflow: hidden;
}

#blog-single #main .end-page .articles-navigation {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 8px;
    border: none;
}

#blog-single #main .end-page .articles-navigation .arrow {
    position: relative;
    display: block;
    width: 35px;
    height: 1px;
    background-color: #bfbfbf;
    -webkit-transition: background-color 300ms, -webkit-transform 300ms;
            transition: background-color 300ms, -webkit-transform 300ms;
            transition: transform 300ms, background-color 300ms;
            transition: transform 300ms, background-color 300ms, -webkit-transform 300ms;
}

#blog-single #main .end-page .articles-navigation .arrow:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -4px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-transition: border-color 300ms;
            transition: border-color 300ms;
}

#blog-single #main .end-page .articles-navigation .arrow.arrow-left:after {
    left: 0;
    border-right: 5px solid #bfbfbf;
}

#blog-single #main .end-page .articles-navigation .arrow.arrow-right:after {
    right: 0;
    border-left: 5px solid #bfbfbf;
}

#blog-single #main .end-page .articles-navigation.previous-article {
    float: left;
}

#blog-single #main .end-page .articles-navigation.next-article {
    float: right;
}

#blog-single #main .end-page .articles-navigation:hover .arrow {
    background-color: #48ba86;
}

#blog-single #main .end-page .articles-navigation:hover .arrow.arrow-left {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
}

#blog-single #main .end-page .articles-navigation:hover .arrow.arrow-left:after {
    border-right-color: #48ba86;
}

#blog-single #main .end-page .articles-navigation:hover .arrow.arrow-right {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
}

#blog-single #main .end-page .articles-navigation:hover .arrow.arrow-right:after {
    border-left-color: #48ba86;
}

#blog-single #main .end-page .share-block {
    text-align: center;
    margin-top: 3px;
}

#blog-single #main .end-page .share-block ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

#blog-single #main .end-page .share-block ul li {
    display: inline-block;
}

#blog-single #main .end-page .share-block ul li a {
    display: block;
    padding: 5px;
    color: #bfbfbf;
    border: none;
    font-size: 14px;
}

#blog-single #main .end-page .share-block ul li a:hover {
    color: #48ba86;
}

#blog-single #main .comments h3 {
    margin: 0 0 30px;
}

#blog-single #main .comments .comments-list {
    margin-top: 70px;
}

#blog-single #main .comments .comments-list .comment {
    margin-bottom: 60px;
}

#blog-single #main .comments .comments-list .comment:last-child {
    margin-bottom: 0;
}

#blog-single #main .comments .comments-list .comment.reply {
    margin-left: 70px;
}

#blog-single #main .comments .comments-list .comment .user-photo {
    float: left;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 25px;
}

#blog-single #main .comments .comments-list .comment .user-photo img {
    width: 100%;
}

#blog-single #main .comments .comments-list .comment .content {
    overflow: hidden;
}

#blog-single #main .comments .comments-list .comment .content h4 {
    display: inline-block;
    margin: 0 8px 0 0;
    line-height: 1;
}

#blog-single #main .comments .comments-list .comment .content .time {
    font-size: 11px;
    color: #bfbfbf;
}

#blog-single #main .comments .comments-list .comment .content p {
    margin: 15px 0 20px;
}

#blog-single #main .comments .comments-list .comment .content .reply {
    display: inline-block;
    border-bottom: 1px solid rgba(72, 186, 134, 0.3);
}

#blog-single #main .comments .comments-list .comment .content .reply:hover {
    border-color: #48ba86;
}

#blog-single #main .comments .leave-comment {
    margin-top: 70px;
}

#blog-single #main .comments .leave-comment form input,
#blog-single #main .comments .leave-comment form textarea {
    border-color: rgba(0, 0, 0, 0.08);
    background-color: transparent;
    margin-bottom: 30px;
}

#blog-single #main .comments .leave-comment form input:focus,
#blog-single #main .comments .leave-comment form textarea:focus {
    border-color: rgba(0, 0, 0, 0.3);
}

#blog-single #main .comments .leave-comment form textarea {
    min-height: 250px;
}

/*
	11. Contact Page
*/

#contact-page #google-map {
    margin-top: 30px;
    width: 100%;
    height: 400px;
}

#contact-page #main .offices-information {
    margin-top: 50px;
}

#contact-page #main .offices-information h2 {
    line-height: 1;
    margin: 0;
}

#contact-page #main .offices-information p {
    margin-top: 25px;
}

#contact-page #main .offices-list {
    margin-top: 60px;
}

#contact-page #main .offices-list .office-block {
    margin-bottom: 30px;
}

#contact-page #main .offices-list .office-block h4 {
    margin: 0;
}

#contact-page #main .offices-list .office-block p {
    margin: 15px 0 0;
}

#contact-page #main .offices-list .office-block p .phone {
    display: inline-block;
    color: #6d6d6d;
    border-bottom: 1px dotted rgba(191, 191, 191, 0.7);
    margin: 3px 0;
    padding-bottom: 0;
}

#contact-page #main .offices-list .office-block p .phone:hover {
    border-bottom-color: transparent;
    color: #0e0e0e;
}

#contact-page #main .say-hello {
    margin-top: 80px;
}

#contact-page #main .say-hello h2 {
    line-height: 1;
    margin: 0;
}

#contact-page #main .say-hello p {
    margin-top: 25px;
}

#contact-page #main .say-hello form {
    margin-top: 50px;
}

#contact-page #main .say-hello form input,
#contact-page #main .say-hello form textarea {
    border-color: rgba(0, 0, 0, 0.08);
    background-color: transparent;
    margin-bottom: 30px;
}

#contact-page #main .say-hello form input:focus,
#contact-page #main .say-hello form textarea:focus {
    border-color: rgba(0, 0, 0, 0.3);
}

#contact-page #main .say-hello form input.invalid,
#contact-page #main .say-hello form textarea.invalid {
    border-color: #f44336;
    color: #f44336;
    border-radius: 0;
}

#contact-page #main .say-hello form textarea {
    min-height: 250px;
}

#contact-page #main .say-hello form #message {
    margin-top: 20px;
}

#contact-page #main .say-hello form #message p {
    margin: 0;
    margin: 0;
}

#contact-page #main .say-hello form #message .error p {
    color: #f44336;
}

#contact-page #main .say-hello form #message .success p {
    color: #48ba86;
}

/*
	12. Responsive
*/

@media (max-width: 992px) {
    #projects-grid .projects-item {
        width: 48.25% !important;
    }
}

@media (max-width: 768px) {
    #project-page #main .end-page {
        text-align: center;
    }

    #project-page #main .end-page .projects-navigation .arrow,
    #project-page #main .end-page .projects-navigation.previous-project,
    #project-page #main .end-page .projects-navigation.next-project {
        float: none;
    }

    #project-page #main .end-page .share-block {
        margin: 20px 0;
    }

    #blog-page #main .end-page {
        text-align: center;
    }

    #blog-page #main .end-page .pages-navigation .arrow,
    #blog-page #main .end-page .pages-navigation.previous-page,
    #blog-page #main .end-page .pages-navigation.next-page {
        float: none;
    }

    #blog-page #main .end-page .pagination {
        margin: 20px 0;
    }

    #blog-single #main .end-page {
        text-align: center;
    }

    #blog-single #main .end-page .articles-navigation .arrow,
    #blog-single #main .end-page .articles-navigation.previous-article,
    #blog-single #main .end-page .articles-navigation.next-article {
        float: none;
    }

    #blog-single #main .end-page .share-block {
        margin: 20px 0;
    }
}

@media (max-width: 540px) {
    #projects-grid .projects-item {
        width: 100% !important;
    }

    #blog-single #main .comments .comments-list .comment.reply {
        margin-left: 35px;
    }
}