@use "../AdminLayout.scss" as *;

@use "./styles/ProjectsPage.scss";
@use "./styles/ProjectsTable.scss";
@use "./styles/ProjectModal.scss";
@use "./styles/ProjectImages.scss";
@use "./styles/RelatedPicker.scss";
@use "./styles/ImagePickerModal.scss";

