@use "../../styles" as *;

/* ============================
   SIDEBAR
============================ */

#sidebar {
  width: 25%;
  max-width: 150px;
  overflow: hidden;

  .sidebar-inner {
    padding-right: 30px;
  }

  .logo {
    display: inline-block;
    margin-bottom: 30px;
    padding: 0;
    border: none;

    img {
      display: block;
      width: 50px;
      height: auto;
    }
  }

  /* ============================
     NAVIGATION
  ============================= */

  nav {
    padding: 25px 0 10px;
    color: $color-text-main;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        /* Базовые ссылки */
        a,
        span {
          display: inline-block;
          padding: 6px 0;
          color: $color-text-main;
          text-decoration: none;
          border: none;
          font-weight: 300;
          transition: color 100ms;

          &.current {
            color: $color-accent;
          }

          &:hover {
            color: $color-accent;
            cursor: pointer;

            &::before {
              background-color: $color-accent;
            }
          }
        }

        /* ============================
           DROPDOWN LOGIC
        ============================= */

        &.dropdown {
          span {
            position: relative;

            /* плюс/крестик */
            &::after,
            &::before {
              content: '';
              position: absolute;
              top: 2px;
              right: 0;
              bottom: 0;
              margin: auto -13px auto auto;
              display: inline-block;
              width: 7px;
              height: 1px;
              background-color: $color-text-main;
              transition: background-color 100ms, transform 200ms;
            }

            &::before {
              margin-right: -10px;
              width: 1px;
              height: 7px;
            }

            &.current::after,
            &.current::before,
            &:hover::after,
            &:hover::before {
              background-color: $color-accent;
            }
          }

          /* скрытое подменю */
          ul {
            display: none;

            li {
              transform: translateY(-10px);

              a {
                font-size: 13px;

                &::before {
                  content: '';
                  display: inline-block;
                  width: 4px;
                  height: 1px;
                  background-color: $color-text-main;
                  margin-bottom: 4px;
                  margin-right: 6px;
                  transition: background-color 100ms;
                }

                &.current::before,
                &:hover::before {
                  background-color: $color-accent;
                }
              }
            }
          }

          /* раскрытое подменю */
          &.expanded {
            span::before {
              transform: rotate(90deg);
            }

            ul {
              display: block;

              li {
                transform: translateY(0);
                opacity: 1;
              }

              /* Плавная задержка для каждого пункта */
              @for $i from 1 through 10 {
                li:nth-child(#{$i}) {
                  transition:
                    opacity 200ms #{$i * 100}ms,
                    transform 200ms #{$i * 100}ms;
                }
              }
            }
          }
        }
      }
    }
  }

  /* ============================
     COPYRIGHT
  ============================= */

  .copyright {
    padding-top: 20px;
    color: $color-text-caption;
    font-size: 13px;
  }

  /* ============================
     MOBILE
  ============================= */

  @media (max-width: 820px) {
    display: none;
    width: 100%;
    text-align: center;

    .sidebar-inner {
      padding-right: 0;
    }

    .logo {
      margin-bottom: 15px;
    }

    .intro {
      border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
      padding-bottom: 20px;
    }

    nav {
      padding: 15px 0 10px;

      ul {
        li {
          display: inline-block;
          margin: 0 5px;

          &.dropdown {
            position: relative;
            margin-right: 17px;

            ul {
              position: absolute;
              margin-top: 5px;
              background-color: $color-bg-page;
              padding: 0 15px;
              box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.035);
              text-align: left;
              z-index: 10;

              li {
                display: block;

                &:first-child {
                  padding-top: 10px;
                }

                &:last-child {
                  padding-bottom: 10px;
                }

                a {
                  display: block;
                }
              }
            }
          }
        }
      }
    }

    .copyright {
      display: none;
    }

    .widgets-block {
      .widget {
        margin: 30px 0 50px;

        .title {
          &::after {
            display: none;
          }
        }

        ul {
          li {
            display: inline-block;
            margin: 0 5px;
          }
        }
      }
    }
  }
}
